<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- The URL for add/remove programs -->
  <?define InfoURL="https://www.kerkenit.nl" ?>

  <!-- 32-bit / 64-bit variables -->
  <?if $(var.Platform) = x64 ?>
  <?define Win64 = "yes" ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?define backupExeSourcePath = "$(var.ProjectDir)..\Backup\bin\x64\Release\backup.exe" ?>
  <?else ?>
  <?define Win64 = "no" ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?define backupExeSourcePath = "$(var.ProjectDir)..\Backup\bin\Release\backup.exe" ?>
  <?endif ?>
  <?define Manufacturer = "Kerk en IT" ?>
  <?define ProductName = "Backup" ?>
  
  
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="!(bind.FileVersion.BackupApp)" Manufacturer="$(var.Manufacturer)" UpgradeCode="89c614f5-a27c-4983-bd9c-f254fc3dd272">
    <Package InstallerVersion="130" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <!-- Define icons (ID should not be longer than 18 chars and must end with ".exe") -->
      <Icon Id="Icon.exe" SourceFile="app.ico" />
 
      <!-- Set properties for add/remove programs -->
      <Property Id="ARPPRODUCTICON" Value="Icon.exe" />
      <Property Id="ARPHELPLINK" Value="$(var.InfoURL)" />
      <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />      <!-- Remove repair -->
      <Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />      <!-- Remove modify -->
    
    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="ManufacturerFolder" Name="$(var.Manufacturer)">
          <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent">
        <File Id="BackupApp" Source="$(var.Backup.TargetPath)" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
